$background_color: #2D2D2F;

$main-font: mr-eaves-modern, sans-serif;

// font-family: mr-eaves-modern, sans-serif;
// font-weight: 300;
// font-style: normal;

$gold: #CCAE88;

$grey: #707070;

$white: #FFFFFF;