@import "_vars";
@import "modules/_nav";
@import "modules/_home";

@import url("https://use.typekit.net/bvo1fsk.css");


body{
    background-color: $background_color;
    position: relative;
}

.hidden{
    display: none;
}