.projectCon{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 80px;

    .rokuImage{
        display: block;
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
        margin-bottom: 20px;
    }

    .secondParagraph{
        margin-bottom: 60px;
    }
}